* {
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *))

[data-theme=dark] {
  background-color: #1f2937; /* dark bg for whole page */
  color: #f9fafb;            /* default text color */
}
    